@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.selc-image-container {
  width: 96px;
  height: 96px;
}

@media (min-width: 976px) {
  .selc-image-container {
    width: 192px;
    height: 192px;
  }
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain); 
}

/* :root {
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 30, 30, 300;
  }
}

body {
  background: rgb(var(--background-rgb));
} */
